[submodule "contrib/rapidcheck"]
	path = contrib/rapidcheck
	url = https://github.com/emil-e/rapidcheck.git
[submodule "contrib/catch"]
	path = contrib/catch
	url = https://github.com/philsquared/Catch.git
[submodule "contrib/spdlog"]
	path = contrib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "contrib/json"]
	path = contrib/json
	url = https://github.com/nlohmann/json.git
